

/* Global Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: none;
}
/* General Reset */
body, ul, h5, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.hero-header {
    background-color: #222;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 2rem;
    color: #6a5acd;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e8e8ea;
}

nav {
    position: relative;
}

.navlinks {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navlinks a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navlinks a:hover {
    color: #6a5acd;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.hero-pic img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.hero-text {
    max-width: 600px;
    text-align: center;
    margin: 20px 0;
}

.hero-text h5 {
    font-size: 1.8rem;
    color: #6a5acd;
}

.hero-text p {
    font-size: 1rem;
    color: #f5f2f2;
    line-height: 1.5;
    margin-top: 10px;
}

.btn-group {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #6a5acd;
    border-radius: 5px;
    color: #6a5acd;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn.active,
.btn:hover {
    background-color: #6a5acd;
    color: #fff;
}

.social {
    margin-top: 20px;
}

.social a {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #555;
    transition: color 0.3s ease;
}

.social a:hover {
    color: #6a5acd;
}
.toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Hidden by default for larger screens */
    z-index: 1000;
}


/* Responsive Design */
@media (max-width: 705px) {
    /* Show the toggle button on smaller screens */
    .toggle-button {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1000;
        font-size: 24px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }

    /* Hide the nav links by default */
    .navlinks {
        display: none;
        flex-direction: column;
        background-color: #222;
        position: fixed;
        top: 50px;
        right: 10px;
        width: 200px;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        z-index: 999;
    }

    /* Show nav links when active */
    .navlinks.active {
        display: flex;
        animation: slideIn 0.3s ease-in-out;
    }

    /* Style for nav links */
    .navlinks a {
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .navlinks a:hover {
        background-color: #575757;
        color: #ddd;
        border-radius: 4px;
    }

    /* Animation for menu appearance */
    @keyframes slideIn {
        from {
            transform: translateX(100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}



/* Skills Section */
.skills h1{
    text-align: center;
    font-size: 3rem;
    color: #6a5acd;
    margin-bottom: 20px;
}
.skills h1:hover{
    color: #ffffff;
    text-shadow: 0 0 10px #727272;
}
.skills-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.skills-category {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.category-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #6a5acd;
}

.category-header p {
    margin: 0;
    font-size: 0.9rem;
    color: #777;
}

.category-icon {
    font-size: 2rem;
    color: #6a5acd;
    margin-right: 15px;
}

.toggle-icon {
    font-size: 1.2rem;
    color: #6a5acd;
}

.skills-progress {
    margin-top: 20px;
    display: block; /* Initially visible */
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.skill-item span {
    font-size: 0.9rem;
}

.progress-bar {
    flex: 1;
    margin: 0 15px;
    height: 6px;
    background: #eee;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #6a5acd;
    border-radius: 3px;
}

.skills-progress.hidden {
    display: none; /* Toggle visibility */
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .skills-item {
        padding: 15px;
    }

    .skill-icon {
        font-size: 2rem;
    }

    .skills-item p {
        font-size: 0.9rem;
    }
}


/* Education Section */
.qualification {
    text-align: center;
    padding: 20px;
}

.qualification h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #6a5acd;
}
.qualification h1:hover{
    color: #ffffff;
    text-shadow: 0 0 10px #727272;
}

.qualification p {
    color: #666;
    margin-bottom: 30px;
}

.qualification-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.qualification-column {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    min-width: 300px;
}

.qualification-column h2 {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #444;
    margin-bottom: 20px;
}

.qualification-column h2 i {
    margin-right: 10px;
    color: #6c63ff;
}

.timeline {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid #6c63ff;
}

.timeline-item {
    margin-bottom: 20px;
    position: relative;
}

.timeline-item h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.timeline-item p {
    color: #666;
    margin: 0;
}

.timeline-item::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #6c63ff;
    border-radius: 50%;
    position: absolute;
    left: -7px;
    top: 10px;
}

/* Projects Section */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #222;
    color: #333;
}

.container-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.projects {
    text-align: center;
    padding: 50px 20px;
}

.projects h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #6a5acd;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.projects h1:hover{
    color: #ffffff;
    text-shadow: 0 0 10px #727272;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.projects-item {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.projects-item-left {
    padding: 20px;
    text-align: left;
}

.projects-item-left-icon {
    font-size: 3rem;
    color: #6a5acd;
    margin-bottom: 15px;
}

.projects-item-left-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #222;
}

.projects-item-left-content p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

.projects-item-left-image {
    margin-top: 20px;
    text-align: center;
}

.projects-item-left-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .projects h1 {
        font-size: 2rem;
    }
}

/* experience section */

/* Container for the Experience Section */

/* Experience Section */
.experience {
    text-align: center;
    padding: 60px 0;
}

/* Heading Styles */
.experience h1 {
    font-size: 42px;
    color: #6a5acd;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
}

.experience h1:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #727272;
    
}

/* Timeline */
.experience-timeline {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

/* Timeline Item */
.timeline-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.timeline-item:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

/* Timeline Icon */
.timeline-icon {
    font-size: 40px;
    color: #6a5acd;
    background: #e0f0ff;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Timeline Content */
.timeline-content {
    text-align: left;
}

.timeline-content h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
    font-weight: 600;
}

.timeline-content h3 {
    font-size: 18px;
    color: #666;
    margin: 5px 0;
}

.timeline-content p {
    font-size: 16px;
    color: #777;
    margin: 10px 0 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .timeline-item {
        flex-direction: column;
        text-align: center;
    }

    .timeline-icon {
        margin-bottom: 10px;
    }
}
/* Contact Section Starts */

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #6a5acd;
  }
  h1:hover{
    color: white;
    text-shadow: 0 0 10px #727272;
  }
  
  .subtitle {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .contact-wrapper {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-info {
    flex: 1;
    max-width: 400px;
    text-align: left;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .info-item i {
    font-size: 1.5em;
    color: #6c63ff;
    margin-right: 15px;
  }
  
  .info-item p {
    margin: 0;
    color: #bcbcbc;
  }
  
  .contact-form {
    flex: 1;
    max-width: 500px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    background-color: #f7f7ff;
    color: #333;
  }
  
  .contact-form textarea {
    resize: none;
    height: 120px;
  }
  
  .contact-form button {
    padding: 15px;
    font-size: 1em;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #574bcb;
  }
  
  @media (max-width: 768px) {
    .contact-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }

/* Contact Section Ends */
/*footer section*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
  }
  
  .footer-about,
  .footer-links,
  .footer-social {
    flex: 1;
    min-width: 250px;
  }
  
  .footer h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #6c63ff;
  }
  
  .footer p {
    font-size: 1em;
    color: #ddd;
    line-height: 1.6;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin: 10px 0;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #ddd;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #6c63ff;
  }
  
  .footer-social .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .footer-social a {
    text-decoration: none;
    font-size: 1.5em;
    color: #ddd;
    transition: color 0.3s ease;
  }
  
  .footer-social a:hover {
    color: #6c63ff;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
    color: #aaa;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  }
  
